<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario para añadir</title>
</head>

<body>
    <h2>Añade un nuevo Contacto</h2>
    <form action="/add" method="POST">
        <input type="text" name="nombre" placeholder="nombre">
        <br>
        <input type="number" name="telefono">
        <br>
        <input type="submit" value="Añadir Contacto">
    </form>
</body>

</html>